process {
    withLabel: BWA {
        container = "quay.io/biocontainers/bwa:0.7.17--ha92aebf_3"
    }
    withLabel: Picard {
        container = "broadinstitute/picard:2.21.3"
        memory = '10GB'
    }
    withLabel: Samtools {
        container = "quay.io/biocontainers/samtools:1.9--h10a08f8_12"
    }
    withLabel: GATK {
        container = "quay.io/biocontainers/gatk4:4.1.4.0--1"
        memory = '10GB'
    }
}

singularity {
    autoMounts = true
    enabled = true
}
